*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared stlyle */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
    font-size: 45px;
    font-weight:900 ;
    
}
  .color-orange{
        color: #FD6E0A;
    }
    .btn{
        background-color: #FD6E0A;
        border: none;
        border-radius: 5px;
        padding: 18px 35px;
        font-weight: bold;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }
/* main style */
header{
    background-color: #fff8f3;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#fff8f3;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: 23px 38px,bottom right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

#banner{
    
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banne .banner-image img{
    max-width: 584px;
    /* vertical-align:middle; */
    display: block;
}
.banner-image {
    line-height: 0;
}

#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    font-weight: normal;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}


#about,#skills,#resume {
    margin-top: 130px;
}
#about .about-container{
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #474747;
}

#skills{
    padding-top: 130px;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0px #06030323;
    /* border: none; */
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    width: 174px;
    height: 27px;
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    max-width: 201px;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    /* margin-bottom: 30px; */
}

#resume .resume-container{
    margin-top: 113px;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{
    color: #474747;
    margin-bottom:30px ;

}
.resume-container hr{
    margin: 25px 0;
}
 .resume-card .card-title{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
 }
 .resume-card .card-info{
    font-size: 15px;
    font-weight: 600px;
    color: #757575;
    margin-bottom: 13px;
 }
 .resume-card .card-text{
    line-height: 28px;
    color: #757575;
    font-size: small;
 }
.text-center{
    text-align: center;
}
footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    display: flex;
    gap: 117px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container .social p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
}
.footer-container .icons a{
    margin-right: 24px;
}

.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container form input[type="text"],
.footer-container form textarea{
    width: 461px;
    padding: 18px 30px ;
    margin-bottom: 42px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
.common{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
